{{- define "main" }}

<main class="about-page">
  <header class="about-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="about-title">{{ .Title }}</h1>
    {{- if .Description }}
    <p class="about-lead">{{ .Description }}</p>
    {{- end }}
  </header>

  <div class="about-content-wrapper">
    {{- if .Content }}
    <div class="about-content">
      {{- .Content }}
    </div>
    {{- end }}
  </div>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</main>

{{- end }}
